@tailwind base;
@tailwind components;
@tailwind utilities;

.quella {
  font-family: var(--quella);
}

.helvetica {
  font-family: var(--helvetica);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .carousel::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .carousel {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }
